<div class="verify-delete-modal-container" id="deleteModal" role="dialog">
    <div class=" verify-delete-modal">  
        <div class="m-content">
            <p>This product is currently in a customers cart! In order to delete this item it must be removed from the customers cart</p>
            <span><a data-dismiss="modal" href="#">Yes, forcably delete</a> <a data-dismiss="modal"href="#">No, cancel</a></span>>
        </div>

    </div>
</div>>