@page
@model MVCOrderManagmentUi.Data.DTOs.UserLoginDTO



<link rel="stylesheet" href="~/css/Technician.css" />


<div id="main">

    <head>
        <title>Auto Technician</title>
    </head>


    <!-- Use any element to open the sidenav -->

    <span style="font-size: 20px" ; onclick="openNav()"><button>Side Menu Button</button></span>
    <h1>
        Technicians
    </h1>



    <form action="/action_page.php">
        <label for="Depart">First Name: </label>
        <input type="text" id="depart" name="depart"><br><br>
        <label for="Destin">Last name: </label>
        <input type="text" id="Destin" name="Destin"><br><br>
        <input type="submit" value="Submit">
    </form>



    <br>
    <br>





    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



</div>


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="btn" onclick="closeNav()"></a>


    <a class="nav-link text-dark" asp-page="/Index">Home</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Login</a>
    <a class="nav-link text-dark" asp-page="/Index">View All Tickets</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">View Services Required</a>
    <a class="nav-link text-dark" asp-page="/Index">Home</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
    <a asp-area="" asp-controller="Technician" asp-action="Technician">Back</a>

</div>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->


<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
