@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<head>
    <title>Auto Repair</title>
    <link rel="stylesheet" href="~/css/c01.css" />
</head>
<body>


    <h1>
        Welcome to JTS Automotive Miracles!
    </h1>

    <script src="~/js/add-content.js"></script>
</body>